// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
header[role="banner"] {
     background-image: url(/images/RH_only.png);
     background-repeat: no-repeat;
    font-size: $header-font-size;
    text-align: right;
    padding-top: $header-padding-top;
    padding-bottom: $header-padding-bottom;
    height: 110px;
}
aside.sidebar section h1 { letter-spacing: 0.1em; }

aside.sidebar a { text-decoration: none; }

body { font-size: 1em; }

//nav[role="navigation"] {
// ul { 
#linkedin div{background-image:url("/images/li.png");height:30px;width:30px;float:right}
#github div{background-image:url("/images/github_octocat.png");height:30px;width:30px;float:left}
#twitter div{background-image:url("/images/twitter_icon.png");height:30px;width:30px;float:left}
//    }
//}
